.imgContainer{
    width: 45rem;
    height: 45rem;
}
.myDescription{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #77b6b6;
}
@media only screen and (min-width: 768px) {
    .imgContainer{
        margin-left: 10rem;
    }
    .progressContainer, .myDescription{
        margin-right: 5rem;
    }
}
@media only screen and (max-width: 768px) {
    .myDescription{
        margin-right: 1rem;
    }
    .mobileResume{
        margin-left:2rem;
    }
}
